<div class="w-1/2">
  <form class="flex items-center gap-2">
    <label class="flex-1 text-nowrap" for="input">Escribe tu nombre: </label>
    <input
      id="input"
      type="text"
      class="input input-bordered w-full max-w-xs"
    />
    <button type="submit" class="btn btn-primary"> Anotarse </button>
  </form>
  <ul class="space-y-2">
    <!-- {
      list.map((item, index) => (
        <li key={index} class="border-b-[1px] p-2">
          {index + 1}. {item}
        </li>
      ))
    } -->
  </ul>
</div>
