---
import { turso } from "../turso";

const { rows } = await turso.execute("SELECT * FROM list");
---

<div class="w-full">
  <form class="flex items-center justify-start gap-2">
    <label class="text-nowrap" for="input">Escribe tu nombre: </label>
    <input
      id="input"
      type="text"
      class="input input-bordered w-full max-w-xs"
    />
    <button type="submit" class="btn btn-primary"> Anotarse </button>
  </form>
  <ul class="space-y-2">
    {
      rows.map((item, index) => (
        <li class="border-b-[1px] p-2">
          {index + 1}. {item.name}
        </li>
      ))
    }
  </ul>
</div>
